<div id="sidebar" class="grid_5 alpha">
  
</div>
  
<div id="main" class="grid_11 omega">
	<div class="largeForm">
	
		<h1><%= @page_title = "Forgot your password?" %></h1>
		<p>If you have forgotten your password, enter your email here, 
		and we will email how to get back into your account.</p> 
	  <% form_tag forgot_password_url do -%>

	    <p>
	      <%= label_tag "email", "Enter your email" %>
	      <%= text_field_tag 'email', @email, :class => "largeInput" %>
	    </p>
  	

	  	<p class="submitBlock">
	  	<%= submit_tag ' Reset password ', :disable_with => " Verifying... " %> or <%= link_to "Cancel", login_url %></p>
	
	  <% end -%>
  
	</div>
</div>