  <p>
    <%= account_fields.label :name, "Display Name" %>
    <%= account_fields.text_field :name, :class => :largeInput %>
  </p>

  <p>
    <%= account_fields.label :login, "Username" %>
    <%= account_fields.text_field :login, :class => :largeInput %>
  </p>

  <p>
    <%= account_fields.label :email, "Email" %>
    <%= account_fields.text_field :email, :class => :largeInput %>
  </p>

  <p>
    <%= account_fields.label :password%>
    <%= account_fields.password_field :password, :class => :largeInput %>
    
		<%= account_fields.label :password_confirmation %>
    <%= account_fields.password_field :password_confirmation, :class => :largeInput %>
  </p>

	
