<% form_for @user, :url => settings_path do | f | %>

  <%= error_messages_for(:post, :object => @post ) %>
    
  <p>
    <%= f.label :name, "Display Name" %>
    <%= f.text_field :name, :class => :largeInput %>
  </p>

  <p>
    <%= f.label :login, "Username" %>
    <%= f.text_field :login, :class => :largeInput %>
  </p>

  <p>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, :class => :largeInput %>
  </p>

  <p>
    <%= f.label :password%>
    <%= f.password_field :password, :class => :largeInput %>
    
		<%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => :largeInput %>
  </p>
  
  <p>
    <%= f.label :strapline, "Strapline" %>
    <%= f.text_field :strapline, :class => :largeInput %>
  </p>
  
  <p>
    <%= f.label :bio, "Bio / Descriptive text on your profile" %>
    <%= f.text_area :bio, :class => :largeInput %>
  </p>
  
  <div id="links">
    <h2>Add links to your profile</h2>
    <div class="link">
      <p >
        <label>Link label (e.g. Twitter, Blog, etc...)</label>
        <input type="text" />
      </p>
      <p >
        <label>URL (http://...)</label>
        <input type="text" />
      </p>
    </div>
    <p><a href="#">Add another link</a></p>
  </div>


  <p class="submitBlock">
    <%= submit_tag   "Save", :disable_with => "Saving..." %> <%= link_to "Cancel", @user %>
  </p> 
	
<% end %>