<div id="header" class="container_16 user">
  <div class="grid_13 prefix_3 alpha">
    <h1><%= @page_title = h(@user.name) %></h1>
    <p><%= h(@user.strapline)%></p>
  </div>
  <div class="clear-this"> </div>
</div>

<div id="content" class="container_16">
  <div class="grid_3 alpha">
    <p>
    	<%=avatar_for(@user, :large) %>
			</p>
			<% if logged_in? && current_user == @user %>
			 <p><%=link_to((@user.avatar.nil? ? 'Upload avatar' : 'Change avatar'), edit_avatar_settings_path) %></p>
			 <% end %>
  </div>
  
  <div class="grid_9">
    <% unless @user.bio.blank? %>
			<div id="user-description">
	      <p><%= @user.bio %></p>
	    </div>
    <% end %>
	 
    <div id="projects">
    	<% @user.projects.each do |project| %>
    	  	<%= render 'projects/preview', :project => project %>
      <% end %>    
    	<div class="clear-this"> </div>
    	
    	
    	<p><%= link_to "New project", new_project_path, {:id=>"new-project-link"} %></p>
    	
    </div>
    
  </div>
  
  <div class="grid_4 omega">
    <p>Projects Collaborators</p>
  </div>
  <div class="clear-this"> </div>
</div>

