<div class="grid_3" id="user-lefthand">
  <div class="avatar">
  	<%=avatar_for(@user, :large) %>
		<% if @show_admin %>
		 <p class="option"><%=link_to((@user.avatar.nil? ? 'Upload avatar' : 'Change avatar'), edit_avatar_settings_url(:subdomain=>false), :class=>'admin') %></p>
		 <% end %>
	</div>
</div>

<div class="grid_13">
  <%= render :partial => 'shared/admin_toggle' %>

  <h1><%= @page_title = h(@user.name) %>  
    <% if @show_admin %>
      <span class="edit"><%= link_to image_tag("vcard_edit.png"), profile_settings_url(:subdomain=>false), :id=>'edit-settings-link', :class=>'admin', :title => "Edit your profile texts..." %></span>
    <% end %>
  </h1>
  <p class="strapline"><%= h(@user.strapline)%></p>
  
  <% unless @user.bio.blank? %>
		<div id="user-description">
      <%= htmltext(@user.bio) %>
    </div>
  <% end %>
</div>


<div class="grid_16">
  <div class="grid_3 alpha">
    <%= render :partial=>'links/list' %>
    <%= render :partial=>'links/add' if @show_admin %>
  </div>
  
  <div class="grid_9">

    <div id="projects">
    	<% @user.projects.sort_by{ rand }.each do |project| %>
    	  	<%= render 'projects/preview', :project => project %>
      <% end %>    
    	<div class="clear-this"> </div>

      <% if @show_admin %>
        <p class="option"><%= link_to "Add another project...", new_project_url(:subdomain=>false), {:id=>"new-project-link", :class=>'admin'} %></p>
      <% end%>  	
    </div>

  </div>

  <div class="grid_4 omega">
    <div id="contributors">
      <h2>Collaborators</h2>
      <ul>
        <% @user.collaborators.sort_by{ rand }.each do |user|%>
  			         <%= render :partial => 'users/collabli', :object => user%>
        <%end%>
  		</ul>
  	</div>
  </div>


</div>


<% @footer_class="prefix_3" -%>
