
	<h1 class="grid_16"><%= @page_title = "Dashboard" %></h1>
  
	<div class="grid_4">

	<ul id="main-options">
	  <li><%= link_to "View/edit account details", account_settings_path, { :title => "Edit you account" } %></li>
	  <li><%= link_to "View/edit your profile page", @user %></li>
	  <li><%= link_to "Add a new project", new_project_path, :id=>'new-project-link2' %></li>
	</ul>  
  
  
  <ul class="email-list">
  	<% @user.email_addresses.each do |eml| %>
			<li>
			  <%= eml.email %>
			  <% if eml == @user.primary_email%>
  			   <span>(Primary email)</span>
  			 <% end %>
			</li>
		<% end %>
		<% if @user.unactivated_email_addresses.size>0 %>
  		    <% @user.unactivated_email_addresses.each do |eml| %>
  		      <li>
  		        <%= eml.email %> <span>(unverified)</span>
  		      </li>
  		    <% end %>
  	 <% end %>
  </ul>

  </div>
	
  <div class="grid_4">
	  
      
      <div id="validated-projects" class="small-project-list">
		  <h2>Your projects</h2>
      <ul>
    	  <%= render :partial=>'projects/minili', :collection => @user.projects %>
		  </ul>
    </div>
    <p class="option"><%= link_to "Add a new project", new_project_path, :id=>'new-project-link', :class => "admin" %></p>
  </div>

	<div class="grid_4">
	  
	    <% if @user.unvalidated_contributions.size > 0 %>
      <div id="unvalidated-projects" class="small-project-list unvalidated">
         
          <h2><%= @user.unvalidated_contributions.size %> unvalidated project(s)</h2>
          <p class="note">You can validate these projects and link them with your profile:</p>
          <ul>
            <% @user.unvalidated_contributions.each do |uvc|%>
              <%= render :partial=>'projects/minili', :object => uvc.project, :locals => {:text => '<span>(not validated)</span>'} %>
            <% end %>
          </ul>
      </div>    
      <% end %>
    
  </div>
  



  	<div class="grid_4">

      <div id="contributors">
        <h2>Your collaborators</h2>
        <ul>
  			<% current_user.collaborators.each do |user|%>
  	      <%= render :partial => 'users/collabli', :object => user%>
  	    <%end%>
  	    </ul>
  		</div>
  </div>