<div id="header" class="container_16">

  <h1><%= @page_title = "Dashboard" %></h1>


  <h2>Account:</h2>
  <p>Login: <%= @user.login%></p>
  <p>Name: <%= @user.name%></p>
	<p><%= link_to "Edit your account", account_settings_path, { :title => "Edit you account" } %> (login, name, password)</p>
  <h2> Email addresses</h2>
	<ul>
  	<% @user.email_addresses.each do |eml| %>
			<li><%= eml.email %>
			if unvalidated:
			 Edit
			 Resend validation email
			Remove
			</li>
		<% end %>
		<li>Add another email address linked to this account</li>	
  </ul>
  <h2>Profile:</h2>
	<p>Edit profile and links on <%= link_to "Your profile page ('#@user')", @user %></p>

  <% if @user.unvalidated_contributions.size > 0 %>
    <div id="unvalidated-projects"> 
			<h2>Unvalidated projects!</h2>
	    <p>Projects which someone has added you as a contributor, and you yet need to validate your participation in these projects:</p>
	    <ul>
	      <% @user.unvalidated_contributions.each do |uvc|%>
	        <%= render :partial=>'projects/minili', :object => uvc.project, :locals => {:text => '(Visit to validate or reject)'} %>
	      <% end %>
	    </ul>
		</div>
  <% end %>          
  
	<div id="projects">
		<h2>Projects</h2>
    <ul>
    	<%= render :partial=>'projects/minili', :collection => @user.projects %>
			<li><%= link_to "Add a new project", new_project_path, :id=>'new-project-link' %></li>
		</ul>
  </div>

	
    <ul id="contributors">
      <h2>You and your collaborators</h2>
      <%= render :partial => 'users/collabli', :object => current_user%>
			<% current_user.collaborators.each do |user|%>
	      <%= render :partial => 'users/collabli', :object => user%>
	    <%end%>
		</ul>

</div>