
	<h1 class="grid_16"><%= @page_title = "Dashboard" %></h1>
  
	<div class="grid_6">

	<ul>
	  <li><%= link_to "Your account details", account_settings_path, { :title => "Edit you account" } %></li>
	  <li><%= link_to "Your profile page (view/edit)", @user %></li>
	</ul>  
  
  
  <ul>
  	<% @user.email_addresses.each do |eml| %>
			<li><%= eml.email %>
			<% if eml == @user.primary_email%>
			   (Primary email - notifications will be sent to this address)
			 <% else %>
         Remove
			 <% end %>
			</li>
		<% end %>
		<% if @user.unactivated_email_addresses.size>0 %>
  		  <% @user.unactivated_email_addresses.each do |eml| %>
  		      <li><%= eml.email %>
  		       Resend validation email
  		       Remove
  		      </li>
  		    <% end %>
  	 <% end %>
  </ul>

	

  <% if @user.unvalidated_contributions.size > 0 %>
    <div id="unvalidated-projects" class="unvalidated"> 
      <h2>Unvalidated projects</h2>
      <ul>
        <% @user.unvalidated_contributions.each do |uvc|%>
          <%= render :partial=>'projects/minili', :object => uvc.project, :locals => {:text => '(Visit to validate or reject)'} %>
        <% end %>
      </ul>
      <p class="note">You (one of your email addresses) have been added to these projects as a contributor, 
			but you haven't yet validated your participation in these projects.</p>
    </div>
  <% end %>
  
  
  
	
  </div>
	
	<div class="grid_4">
	
    <div id="contributors">
      <h2>Your collaborators</h2>
      <ul>
			<% current_user.collaborators.each do |user|%>
	      <%= render :partial => 'users/collabli', :object => user%>
	    <%end%>
	    </ul>
		</div>
</div>

	<div class="grid_4">
		<div id="small-project-list">
		  <h2>Your projects</h2>
      <ul>
    	  <%= render :partial=>'projects/minili', :collection => @user.projects %>
		  </ul>
    </div>
    <p class="option"><%= link_to "Add a new project", new_project_path, :id=>'new-project-link', :class => "admin" %></p>
  </div>
