<div id="header" class="container_16">

  <h1><%= @page_title = "Dashboard" %></h1>

  <h2>Profile</h2>
	<p>Edit profile and links on <%= link_to "Your profile page ('#@user')", @user %></p>
  
	<h2>Projects</h2>
	<p><%= link_to "Add a new project", new_project_path, :id=>'new-project-link' %></p>

  <h2>Your Account</h2>
  <p><%= link_to "Edit your account", settings_path, { :title => "Edit you account" } %> (email addresses, password...)</p>

	
    <ul id="contributors">
      	<h2>You and your collaborators</h2>
      <%= render :partial => 'users/collabli', :object => current_user%>
			<% current_user.collaborators.each do |user|%>
      <%= render :partial => 'users/collabli', :object => user%>
    <%end%>
		</ul>


  <h2>Unvalidated collaborators</h2>
  <p>Unvalidaed collaborators x Projects go here</p>

  <h2>Your unvalidated contributions</h2>
  <p>Projects on which you have an unvalidated contribution go here</p>
              
</div>