<div id="header" class="">
  
	<h1 class="grid_16"><%= @page_title = "Dashboard" %></h1>
  
	<div class="grid_6">

  <% if @user.unactivated_email_addresses.size>0 %>
    <div id="unactivated-emails" class="unvalidated"> 
			<h2>Unactivated emails</h2>  
		  <ul><% @user.unactivated_email_addresses.each do |eml| %>
		      <li><%= eml.email %>
		       Resend validation email
		       Remove
		      </li>
		    <% end %>
		    <li>Add another email address linked to this account</li> 
		  </ul>
		</div>
      <p class="note">Email addresses you have added to your account, but you haven't yet activated them 
			(Look in your Inbox (or spam box?) for an activation email, 
			should arrive with you within 5 minutes, unless something has gone wrong).
			</p>
	<% end %>

  <% if @user.unvalidated_contributions.size > 0 %>
    <div id="unvalidated-projects" class="unvalidated"> 
      <h2>Unvalidated projects</h2>
      <ul>
        <% @user.unvalidated_contributions.each do |uvc|%>
          <%= render :partial=>'projects/minili', :object => uvc.project, :locals => {:text => '(Visit to validate or reject)'} %>
        <% end %>
      </ul>
      <p class="note">You (one of your email addresses) have been added to these projects as a contributor, 
			but you haven't yet validated your participation in these projects.</p>
    </div>
  <% end %>          
	
	<h2>Account Details:</h2>
  <p>Login: <%= @user.login%></p>
  <p>Name: <%= @user.name%></p>
	<p><%= link_to "Edit your account", account_settings_path, { :title => "Edit you account" } %> (login, name, password)</p>
	
  <ul>
  	<% @user.email_addresses.each do |eml| %>
			<li><%= eml.email %>
			<% if eml == @user.primary_email%>
			   (Primary email - notifications will be sent to this address)
			 <% else %>
         Remove
			 <% end %>
			</li>
		<% end %>
  	<li>Add another email address linked to this account (not yet possible).</li>	
  </ul>
	
  <h2>Profile:</h2>
	<p>Edit profile and links on <%= link_to "Your profile page ('#@user')", @user %></p>
  </div>
	
	<div class="grid_4">
	
    <div id="contributors">
      <h2>You and your collaborators</h2>
      <ul>
      <%= render :partial => 'users/collabli', :object => current_user%>
			<% current_user.collaborators.each do |user|%>
	      <%= render :partial => 'users/collabli', :object => user%>
	    <%end%>
	    </ul>
		</div>
</div>

	<div class="grid_4">
		<div id="projects">
		<h2>Your Projects</h2>
    <ul>
    	<%= render :partial=>'projects/minili', :collection => @user.projects %>
			<li><%= link_to "Add a new project", new_project_path, :id=>'new-project-link' %></li>
		</ul>
  </div>


</div>
</div>