<div id="manage-contributors">
    <p class="option">
        <a id="show-form-link" class='admin' href="javascript:$('add-contributor').show();void(0)">Add another contributor...</a>
    </p>
  <% form_for [ @project, @unvalidated_contributor ], :html=> {:id => 'add-contributor', :style=>'display:none;', :class=>'admin'} do | f | %>
    <%= f.error_messages %>
      <%= f.hidden_field :project_id %>
    
    <p>
      <%= f.label :name, "Full name of additional contributor" %>
      <%= f.text_field :name,  :class => :largeInput %>
    </p>

      <p>
	      <%= label_tag 'email', "Email for this contributor (optional)" %>
	      <%= text_field_tag 'email', '', :class => :largeInput %>
	      <span class="note">If you supply an email we will invite the user to add a profile page for themselves or link to it if they are already a member.
	      </span>
	    </p>
    
    <p>
        <%= submit_tag "Add as contributor", :id=>'submit-add-contributor'%> 
				<a href="javascript:$('add-contributor').hide();void(0)">Cancel</a>
    </p>
  <% end %>
</div>

