
<div class="gird_10 prefix_3 suffix_3">
  
<h1 class="padded">Edit contributor to <%=@project%></h1>

<% form_for([@project, @unvalidated_contributor]) do |form| %>
  <%= form.error_messages %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= label_tag 'email', "Email (optional)" %>
    <%= text_field_tag 'email', @unvalidated_contributor.email_address.nil? ? '' : @unvalidated_contributor.email_address.email, :class => :largeInput %>
  </p>
	
  <p>
    <%= form.submit 'Update' %>
    <%= link_to 'Cancel', @project %>
  </p>
<% end %>

</div>