<div class="">

   <h1><%= @page_title = "Edit Project" %></h1>

  <% form_for @project do |form| %>
    <%= form.error_messages %>

    <%= render :partial=>'form', :object=>form%>
    
    <p>
      <%= form.submit 'Update' %> 
			<%= link_to 'Cancel', @project %>
    </p>
  <% end %>

  

</div>