<%= render :partial=>'shared/getsatisfaction' %>

<div class="grid_12 prefix_3 suffix_3">
  <h1><%= @page_title = "Create a new project" %></h1>  
  <% form_for @project do |form| %>
      <%= form.error_messages %>
    
      <%= render :partial=>'form', :object=>form%>

  	  <% form.fields_for :links do |link_form| %>
        <% #will always be only one %>
  		  <%= render :partial => 'links/fields', :object=>link_form %>
  	  <% end %> 

      <p>
        <%= form.submit 'Create' %> 
    		<%= link_to 'Cancel', root_path %>
      </p>
  <% end %>
</div>
