<h1><%=h(@project.title)%></h1>
<p><%= h(@project.description) %></p>
<p><%= link_to nil, @project.homepage %></p>
<% if logged_in? && current_user.contributor_to?(@project) %>
  <%= link_to "Edit project details", edit_project_path(@project), :id=>'edit-project-link' %>
<% end %>

<h2>Contributors</h2>
<ul id="contributors">
  <%@project.contributors.each do |user|%>
	 <li><%= link_to user.name, user %></li>
  <%end%>
	<% if logged_in? && current_user.contributor_to?(@project) %>
  	<%= link_to "Add contributor", new_project_contributor_path(@project), :id=>'add-contributor-link' %>
	<% end %>
</ul>
