<div class="grid_16">
	
	<%= render :partial => 'shared/admin_toggle' %>
	
  <h1><%= @page_title = h(@project.title) %>
      <% if @show_admin %>
      <span class="edit"><%= link_to image_tag("pencil.png"), edit_project_path(@project), :id=>'edit-project-link', :class=>'admin', :title => "Edit this project..." %>
          <% if current_user.sole_contributor_to?(@project) %>
          <%= link_to image_tag("delete.png"), project_path(@project), :method=>:delete, :id=>'delete-project', :confirm=> "Do you really want to delete it?", :class=>'admin', :title => "Delete this project?" %>
          <% else %>
          <%= link_to image_tag("delete.png"), leave_project_path(@project), :method=>:put, :id=>'leave-project', :confirm=> "Do you really want to leave this project?", :class=>'admin', :title => "Remove this project from your projects?" %>
          <% end %>
      </span><% end %>
  </h1>
    <p class="strapline">
        <%=h(@project.strapline || "Another brilliant project") %>
    </p>
</div>





<div class="grid_7">
    <div id="project-description">
        <%= htmltext(@project.description) %>
    </div>
    <%= render :partial=>'links/list' %>
    <%= render :partial=>'links/add' if @show_admin %>
</div>

<div class="grid_5">
    <% @project.images.each do |image| %>
    <div class="project-image">
        <%=project_image_for(image, :medium) %>
        <% if @show_admin %>
        <p class="delete-image">
            <%=link_to image_tag("image_edit.png"), edit_project_image_path(@project, image), :class=>'admin' %>
            <%=link_to image_tag("image_delete.png"), project_image_path(@project, image), :method=>:delete, :confirm=>"Delete this image?",  :class=>'admin' %>
        </p>
        <% end %>
        <% unless image.caption.nil? && image.caption.blank? %>
        <p class="caption">
            <%=image.caption %>
        </p>
        <%end %>
    </div>
    <% end %>
    <% if @show_admin %>
    <p class="option">
        <%=link_to "Add an image...", new_project_image_path(@project), :class=>'admin' %>
    </p>
    <% end %>
    <p>
    </p>
</div>


<div class="grid_4">
   <div id="contributors">
    <h2>Created by </h2>
    <ul>
        <% @project.contributors.each do |user| %>
        <li class="validated">
            <% if user == current_user %>
              <% if current_user.sole_contributor_to?(@project) %>
              <%= link_to image_tag("user_delete.png"), project_path(@project), :method=>:delete, :id=>'delete-project', :confirm=> "Do you really want to delete it?", :class=>'admin', :title => "Delete this project?" %>
              <% else %>
              <%= link_to image_tag("user_delete.png"), leave_project_path(@project), :method=>:put, :id=>'leave-project', :confirm=> "Do you really want to leave this project?", :class=>'admin', :title => "Remove this project from your projects?" %>
              <% end %>
            <% end %>
            <% link_to user do %>
            <%= avatar_for(user) %>
            <div class="user-details">
                  
                <strong><%= user %></strong>
                <span class="strapline"><%= user.strapline %></span>
            </div>
            <div class="clear-this">
            </div>
            <% end %>
        </li>
        <%end %>
        <%@project.unvalidated_contributors.each do |uvc| %>
        <li class="not-validated">
        	  <% if uvc.email_address.nil? || uvc.email_address.user.nil?%>
              <img src="/images/no-avatar-small.png" width="40px" height="40px" />
						<% else %>
	            <%= avatar_for(uvc.email_address.user) %>
						<% end %>
            <div class="user-details">
              <% if @show_admin %>
                <%= link_to image_tag("page_white_edit.png"), edit_project_unvalidated_contributor_path(@project, uvc), :class=>'admin edit-unvalidated', :title => "Edit this collaborator..." %>
                <%= link_to image_tag("user_delete.png"), project_unvalidated_contributor_path(@project, uvc), :method=> :delete,:confirm=>"Delete this contributor?", :class=>'admin delete-unvalidated', :title => "Remove this collaborator?" %>
              <% end %>
              <% if uvc.email_address.nil?  %>
								<%= uvc.name %>
                <span class="strapline">(Unverifiable)</span>
              <% else %>
                <%if uvc.email_address.user.nil? %>
                  <%= uvc.email_address.name %>
                  <span class="strapline">(Unclaimed profile)</span>
                <% else %>
  								<%= uvc.email_address.user.name %>
                  <span class="strapline">(Unvalidated)</span>
								<% end %>
						  <% end %>
							<% if !@show_admin && logged_in? && current_user.email_addresses.include?(uvc.email_address) %>
                <%= render :partial=>'validate_self_as_contributor', :object=>uvc %>
              <% end %>
            </div>
            <div class="clear-this"> </div>
        </li>
        <%end %>
    </ul>
    
  </div>
  <% if @show_admin %>
      <%= render 'unvalidated_contributors/add' %>
  <% end %>
</div>
