<div id="header" class="container_16 project">
  <div class="grid_11 prefix_5 alpha">
    <h1>
      <%= @page_title = h(@project.title) %>
      <% if logged_in? && current_user.contributor_to?(@project) %>
        <span class="edit">(<%= link_to "Edit project", edit_project_path(@project), :id=>'edit-project-link' %>)</span>
      <% end %>
    </h1>
    <p><%=h(@project.strapline || "Another brilliant project")%></p>
  </div>
  <div class="clear-this"> </div>
</div>

<div id="content" class="container_16">
  
  
  <div class="grid_5 alpha">
    <% @project.images.each do |image|%>
		<div class="project-image">
			
      <p><img src="<%=image.public_filename(:medium)%>" width="280px" height="158px" alt="<%= @project %>" /></p>
      <p>This image has no caption.</p>
    </div>
		<% end %>
		<p><%=link_to "Add image", new_project_image_path(@project)%></p>
  </div>
  
  <div class="grid_7">
   <div id="project-description">  
     <p><%= h(@project.description) %></p>
   </div>
   
   <div id="project-links">
     <%= link_to nil, @project.homepage %>
   </div>
  </div>

  <div class="grid_4 omega">
    
    <h2 class="small-headline">Created by</h2>
    <ul id="contributors">
      <%@project.contributors.each do |user|%>
        <li class="validated">
          <% link_to user do %>
						<%= avatar_for(user) %>
						<div class="user-details">
  	          <strong><%= user %></strong>
  	          <span class="strapline"><%= user.strapline %></span>
	          </div>
	          <div class="clear-this"> </div>
					<% end %>
        </li>
      <%end%>
      <%@project.unvalidated_contributors.each do |uvc|%>
        <li class="not-validated">
          <img src="/images/no-avatar-small.png" width="40px" height="40px" />
          <div class="user-details">
	          <%= uvc.name %>
	          <span class="strapline">(unclaimed profile)</span>
          </div>
					<% if logged_in? && uvc.email==current_user.email%>
					   <%= render :partial=>'validate_self_as_contributor', :object=>uvc %>
					<% end %>
        </li>
      <%end%>
    </ul>

    <% if logged_in? && current_user.contributor_to?(@project) %>
      <div id="manage-contributors">
        <p><a id="show-form-link" href="javascript:$('add-contributor').show()">Add another contributor...</a></p>
        <%= render 'unvalidated_contributor_form'%>
      </div>
    <% end %>
		
  </div>
  <div id="footer" class="prefix_5">
      <p>Portfolios and profiles powered by <%= link_to "Team Portfolios", root_url, { :title => "Go to the home page and find out more..." } %>.
  </div>
</div>
