<div class="container_16">



  <h1 id="logo"><%= @page_title = "Share your work..." %></h1>

  <div class="clear-this"> </div>
  
  <div id="teaser" class="grid_6 alpha">
    <p>Portfolios and profiles for you and your collaborators.</p>
    
    <% if !logged_in? -%>
      <p>You can join Team Portfolios, if an existing member wants to show you as a collaborator on a project.</p>
			
      <p>If you have an account, <%= link_to "sign in here...",  login_path,  { :title => "Log in" }  %></p>
		<% else %>
			
			<h2 class="small-headline">You and your collaborators</h2>
      <ul id="contributors">
        <%= render :partial => 'users/collabli', :object => current_user%>
				<% current_user.collaborators.each do |user|%>
        <%= render :partial => 'users/collabli', :object => user%>
      <%end%>
			</ul>

     <% end %>
    
  </div>
  
  

  
  <div class="grid_9 prefix_1 omega">
    <% @projects.each do |project|%>
      <%= render 'projects/preview', :project => project %>
    <% end %>

    
  </div>
  
  <div class="clear-this"> </div>
  
</div>