<%= render :partial=>'shared/getsatisfaction' %>



<h1 id="logo" class="grid_16">People using Team Portfolios<br />to share their projects... </h1>
  

  

  
  

  
  <div id="user-list" class="grid_9">
    <% @users.each do |user|%>
      <div class="user">
        <div class="grid_2 alpha">
          <div class="avatar">
          	<%= link_to avatar_for(user, :medium), user %>
        	</div>
        </div>
        <div class="grid_7 omega">
          <h2><%= link_to user, user %></h2>
          <p class="list-strapline"><%= user.strapline %></p>
          
        </div>
        <div class="clear-this"> </div>
      </div>
    <% end %>
        
  </div>
  
  
  <div id="teaser" class="grid_6 prefix_1">
    
    <p>Portfolios and profiles for you and your collaborators.</p>
      
      
      <% if !logged_in? -%>
        <p>If you have an account, <%= link_to "sign in here...",  login_path,  { :title => "Log in" }  %></p>
       <% else -%>
        <p>To invite other users simply add them as collaborators to your projects.</p>
       <% end -%>
    
  </div>
  