<div class=" large-form container_16">
  <div class="grid_6 prefix_3 alpha">
    <h1><%= @page_title = "Add an image to #{@image.project}" %></h1>
  </div>

  <div class="clear-this"> </div>


  
  <div class="grid_6 prefix_3 alpha">
    <% form_for @image, :url=>project_images_path(@image.project), :html => { :multipart => true } do | f | %>
      <%= f.error_messages %>

      <p>
        <%= f.label :uploaded_data  , "Select a File" %>
        <%= f.file_field :uploaded_data %> 
      </p>
      
			<p>
        <%= f.label :caption, "Caption (optional)" %>
        <%= f.text_field :caption %> 
      </p>

      <p class="submitBlock">
        <%= submit_tag "Upload new image" %>
      </p>
    <% end %>
    <p><%= link_to "Go back to #{@image.project}", @image.project %></p>

  </div>
  
  <div class="grid_5 omega disclaimer ">
    <p>Maximum size file size: 5MB</p>
    <p>Images that are 16x9 and are more than xxx (?) pixels wide work best.</p>
  </div>
  
</div>
  
  
