<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%=h @page_title ? "#{@page_title} | Team Portfolios" : "Team Portfolios" %></title>
    <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>
    <div id="navigation">
      <div class="container_16">
        <div class="grid_5">
          <%= link_to "Team Portfolios (alpha version)", root_url, { :title => "Go to the home page", :id => "small-logo" } %>
        </div>
        <div class="grid_11">  
          <ul>
             <% if logged_in? -%>
              <li><%= link_to "Dashboard", dashboard_path, { :title => "Edit profile, accounts, see collaborators" } %></li>
              <li><%= link_to "Profile (#{current_user})", current_user, { :title => "View you public profile" } %></li>
              <li><%= link_to "Log out", logout_path, { :title => "Log out" }    %></li>
             <% else -%>
              <li><%= link_to "Sign in",  login_path,  { :title => "Log in", :id => "loginLink" }  %></li>
             <% end -%>
          </ul>
        </div>
      </div>
    </div>
    <div class="container_16">
      <%= render :partial => 'layouts/flash_details' %>
      <%= yield :layout %>
			<%= render :partial => 'layouts/footer'%>
    </div>
</body>
</html>