<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%=h @page_title ? "#{@page_title} | Team Portfolios" : "Team Portfolios" %></title>
    <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>

  <div id="wrap">
    <ul id="userNav">
    <% if logged_in? -%>
      <li>Logged in as <%= link_to current_user.login, current_user %></li>
      <li><%= link_to "Log out", logout_path, { :title => "Log out" }    %></li>
    <% else -%>
      <li><%= link_to "Log in",  login_path,  { :title => "Log in" } %></li>
    <% end -%>
    </ul>
    <%= render :partial => 'layouts/flash_details' %>
    
    <%= yield :layout %>
  </div>

</body>
</html>